.main-navbar {
  background: #000;
  border-bottom: 1px solid rgba(255,255,255,.15);
  min-height: 70px;
}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-center{
    display:flex;
    align-items:center;
}

.main-navbar .nav-link{
    color:white !important;
    text-decoration:none;
    margin:0 18px;
    font-weight:600;
    letter-spacing:1px;
    transition:.3s;
}

.main-navbar .nav-link:hover{
    color:#56CCF2 !important;
}

.active-link{
    color:#56CCF2 !important;
}

/* Right Section */

.header-right{
    display:flex;
    align-items:center;
    gap:15px;
}

/* Auth Buttons */

.auth-btn{
    color:white;
    text-decoration:none;
    padding:8px 16px;
    border:2px solid #56CCF2;
    border-radius:25px;
    background:transparent;
    transition:.3s;
    font-weight:600;
    min-width:90px;
    text-align:center;
}

.auth-btn:hover{
    background:#56CCF2;
    color:black;
}

.logout-btn{
    cursor:pointer;
}

/* Hero */

.hero-section{
    background:#777;
    text-align:center;
    padding:5rem 0;
}

.hero-title{
    font-family:"Metal Mania",cursive;
    color:white;
    font-size:5rem;
}